<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/main.css">
        <title>Error</title>
    </head>
    <body>

        <div class="blurred hidden" id="blurred"></div>
        <div class="main">

          
          <div class="navbar">
            <ul>
            <div class="nav_bar_items">
            <div id="main_menu">
              <li><a href="/">Home</a></li>
            </div>
            </div>
        </ul> 
        </div>    

                <h1> Error </h1>
                <h3> <a href="/"> Go Home</a> </h3>
                
                </div>
</body>
</html>